<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses practice weeks 4-5</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    </head>
<body>
    <div class="header">
        <div class="header_icon">
        </div>
    </div>
    <div class="main">
        <h1 class="title">adventures</h1>
        <h2 class="subtitle">awesome Gallery Post</h2>
        <h3 class="title">January 19, 2016</h3>
        <p class="button">
            <a class="button_link" href="...">read more</a>
        </p>
    </div>
    <div class="footer">
        <img class="footer_icon" src="../images/footer_Icon.png" />
        <p class="footer_text">02 comment</p>
    </div>
</body>
</html>